* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  background-color: #141024;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.header .header-bars {
  display: none;
}
.header-left h1 {
  color: white;
  font-size: 32px;
}
.header-centr ul {
  display: flex;
  gap: 20px;
}
.header-centr li {
  list-style: none;
}
.header-centr li li {
  font-size: 22px;
}
.header-centr li a {
  text-decoration: none;
  color: white;
}
.header-right h1 a {
  color: white;
  font-size: 32px;
}

@media screen and (max-width: 1132px) {
  .container {
    width: 1000px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .header-left h1 a {
    color: white;
    font-size: 31px;
  }
  .header-centr {
    display: flex;
    gap: 20px;
  }
  .header-centr li {
    list-style: none;
  }
  .header-centr li li {
    font-size: 21px;
  }
  .header-centr li a {
    text-decoration: none;
    color: white;
  }
  .header-right h1 {
    color: white;
    font-size: 31px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 900px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .header-left h1 {
    color: white;
    font-size: 28px;
  }
  .header-centr {
    display: flex;
    gap: 20px;
  }
  .header-centr li {
    list-style: none;
  }
  .header-centr li li {
    font-size: 20px;
  }
  .header-centr li a {
    text-decoration: none;
    color: white;
  }
  .header-right h1 {
    color: white;
    font-size: 28px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: 800px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .header-left h1 {
    color: white;
    font-size: 25px;
  }
  .header-centr {
    display: flex;
    gap: 20px;
  }
  .header-centr li {
    list-style: none;
  }
  .header-centr li li {
    font-size: 18px;
  }
  .header-centr li a {
    text-decoration: none;
    color: white;
  }
  .header-right h1 {
    color: white;
    font-size: 25px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 700px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .header-left h1 {
    color: white;
    font-size: 22px;
  }
  .header-centr {
    display: flex;
    gap: 20px;
  }
  .header-centr li {
    list-style: none;
    font-size: 15px;
  }
  .header-centr li a {
    text-decoration: none;
    color: white;
  }
  .header-right h1 {
    color: white;
    font-size: 22px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    width: 600px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .header-left h1 {
    color: white;
    font-size: 20px;
  }
  .header-centr {
    display: flex;
    gap: 20px;
  }
  .header-centr li {
    list-style: none;
    font-size: 12px;
  }
  .header-centr li a {
    text-decoration: none;
    color: white;
  }
  .header-right h1 {
    color: white;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 500px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .header-left h1 {
    color: white;
    font-size: 18px;
  }
  .header-bars {
    display: block;
    overflow: hidden;
  }
  .header-bars .menu-button {
    cursor: pointer;
    font-size: 24px;
    color: white;
  }
  .header-bars nav {
    background: #11015b;
    position: absolute;
    top: 70px;
    left: 55.5%;
    width: 250px;
    transition: max-height 0.3s ease-out;
    border-radius: 0px 0px 20px 20px;
  }
  .header-bars nav.hidden {
    display: none;
  }
  .header-bars nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border-radius: 20px;
  }
  .header-bars nav ul li {
    padding: 10px;
  }
  .header-bars nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  .header-centr, .header-right {
    display: none;
  }
}
.robo {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.robo-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}
.robo-top h1 {
  font-size: 18px;
  width: 600px;
}
.robo-top p {
  font-size: 14px;
}
.robo-bottom {
  display: flex;
  gap: 20px;
}
.robo-bottom h1 {
  color: orangered;
}
.robo-bottom p {
  font-size: 15px;
  width: 250px;
}

.kurs {
  margin-top: 100px;
}
.kurs-top {
  margin-bottom: 30px;
}
.kurs-top h1 {
  font-size: 25px;
}
.kurs-bottom {
  display: flex;
  justify-content: space-between;
}
.kurs-bottom-element {
  margin-bottom: 50px;
}
.kurs-bottom-element h1 {
  font-size: 15px;
  margin-bottom: 10px;
}
.kurs-bottom-element p {
  color: dimgray;
  width: 250px;
  line-height: 20px;
  font-size: 12px;
}

.trainer h2 {
  margin-bottom: 50px;
  font-family: "Jost";
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  color: #141024;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 50px;
  border-radius: 10px;
  padding-bottom: 50px;
}
.slider::-webkit-scrollbar-thumb {
  background: black;
}
.slider::-webkit-scrollbar-thumb:hover {
  background: black;
}

.slide h3 {
  min-width: 200px;
  font-family: "Jost";
  font-size: 21px;
  font-weight: 600;
  line-height: 38.4px;
  text-align: left;
}
.slide p {
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: rgba(20, 16, 36, 0.6980392157);
}
.slide a {
  color: #d52027;
  font-family: "Jost";
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}
.slide img {
  width: 240px;
  height: 270px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .slide img {
    width: 100%;
    height: auto;
  }
}

.scrollbar {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-bottom: 150px;
}

.scroll-left,
.scroll-right {
  background-color: #141024;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 50%;
}
.scroll-left:hover,
.scroll-right:hover {
  background-color: gray;
}

.price-card {
  background-color: #fff;
  border: 1px solid rgba(20, 16, 36, 0.2);
  width: 310px;
  height: 360px;
  text-align: center;
  padding-top: 40px;
  border-radius: 20px;
  transition: 0.5s;
}
.price-card:hover {
  color: #fff;
  transform: scale(1.05);
  background-color: #141024;
}
@media (max-width: 768px) {
  .price-card {
    width: 100%;
  }
}

.profile {
  display: flex;
  gap: 20px;
}
.profile .profile-text h3 {
  font-size: 16px;
  padding-bottom: 7px;
}
.profile .profile-text p {
  font-size: 12px;
  padding-bottom: 20px;
}
.profile .profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.modal-href {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-family: "Jost";
  margin-top: 10px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.modal-href a {
  color: #000;
  transition: 0.5s;
  font-weight: 600;
}
.modal-href a:hover {
  color: #d52027;
}

.modal-text {
  margin-top: 20px;
}

dialog {
  opacity: 0;
  scale: 0;
  display: block;
  transition: all 0.5s;
  padding: 20px;
  border: 1px solid #fff;
  overflow-y: auto;
}
dialog[open] {
  opacity: 1;
  scale: 2;
  width: 450px;
  height: 368px;
  position: relative;
  left: 1200px;
  top: 570px;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  dialog[open] {
    width: 90%;
    height: auto;
  }
}

.mod {
  position: absolute;
  top: 8%;
  left: 90%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 12px;
}

.price h2 {
  margin-bottom: 50px;
  font-family: "Jost";
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  color: #141024;
}
.price-inner {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
@media (max-width: 768px) {
  .price-inner {
    flex-direction: column;
    align-items: center;
  }
}
.price .price-card {
  height: 500px;
}
.price .price-card h3 {
  font-family: "Jost";
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.price .price-card p {
  font-family: "Jost";
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  padding-bottom: 40px;
}
.price .price-card button {
  padding: 25px 54px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #d52027;
  color: #fff;
  font-size: 16px;
  transition: 0.5s;
}
.price .price-card button:hover {
  background-color: #fff;
  color: #d52027;
  border: 1px solid #d52027;
}

.registor {
  background-color: #d52027;
  margin-top: 200px;
}
.registor-inner {
  display: flex;
  padding: 100px 90px;
  align-items: center;
  gap: 200px;
}
.registor-text h3 {
  font-family: "Jost";
  font-size: 36px;
  font-weight: 600;
  line-height: 46.8px;
  text-align: left;
  width: 380px;
  color: white;
}
.registor-text p {
  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #fff;
}
.registor-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registor-right input {
  width: 700px;
  height: 50px;
  padding-left: 15px;
  border-radius: 10px;
}

#sub {
  background-color: #141024;
  color: white;
}

footer {
  background-color: #141024;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.footer-left h1 {
  color: white;
}
.footer-left a {
  color: dimgray;
}
.footer-right h1 {
  color: white;
}/*# sourceMappingURL=global.css.map */